@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,regular,700,900);
body{
    font-family: "lato", Arial, sans-serif;
    color: #424551;
    font-weight: 400;
    width: 810px;
    height: 1240px;
    margin: 0 auto;
}
.name{
    font-weight: 900;
    font-size: 46px;
    text-align: left;
    line-height: 1.3;
    color: #1E212C;
}
.image{
    border-radius: 4px;
}
.p-one{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;  
    color: #1E212C;
}
.p-two{
    font-size: 16px;
    line-height: 1.6;
}
.bookmarks{
    color: #1E212C;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;  

}
.text-info{
    font-size: 16px;
    line-height: 1.6;
}
.items{
    line-height: 1.6;
    font-size: 16px;
}
.text-information{
    line-height: 1.6;
    font-size: 16px;
}