@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap);
@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Bold.woff2) format("woff2"), url(../fonts/CircularStd-Bold.woff) format("woff");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}
body{
font-family: "lato", sans-serif;
}
p span{
    color:blue;
    text-shadow: 10px 1px 10px black;
}
.order span{
    color: red;
    text-shadow: 10px 1px 10px red;
}
/*содержание*/
.content{
    color: blue;
    text-decoration: underline;
    letter-spacing: 3px;
}
/*меню ниже*/
    ul.choice > li {
        color: hotpink;
        letter-spacing: 4px;
}
/*главный заголовок*/
.name{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    letter-spacing: 4px;
}
.mans .second{
    color: red;
    font-weight: 900;
}
/*параграф с инфо*/
.info-text{
        color: lightcoral;
        font-weight: 700;
        line-height: 3;
}
/*параграф с инфо*/
.info-main{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: lightsalmon;
    font-weight: 700;
    text-align: justify;
    letter-spacing: 2px;
}
.atlets{
    color: hotpink;
    text-transform: uppercase;
    font-style: italic;
    text-decoration:underline ;
    text-shadow: 15px 5px 15px hotpink;
}
/*заголовок 2*/
#rules{
color: palevioletred;
text-align: center;
text-decoration: underline;
}
/*заголовок 2*/
#height{
    color: purple;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}
/*заголовок 2*/
#suit{
    color: royalblue;
    text-align: center;
    text-decoration: overline;
}
/*меню*/
nav{
        font-weight: 900;
}
.info-couch{
    text-align: center;
    color: olivedrab;
    font-weight: 900;
}
.short{
color: orchid;
font-weight: 900;
letter-spacing: 2px;
text-decoration: underline;
text-align: right;
}
.short-man{
    color: orchid;
    text-shadow: 10px 1px 20px hotpink;
    text-align: right;
}  
/*подвал*/ 
.links{
    text-align: right;
    font-weight: 700;
    color: orchid;
    letter-spacing: 4px;
}
.investment{
    color: lawngreen;
    text-align: left;
    text-decoration: line-through;
    line-height: 22px;
}
.requirements-info{
    color: orange;
}
#requirements{
    text-align: center;
    color: orangered;
    font-weight: 800;
}
#trable{
text-decoration: underline;
color: indigo;
letter-spacing: 2px;
font-style: oblique;
}
#lest{
    font-family: "CircularStd", sans-serif ;
color: rebeccapurple;
font-weight: 900;
}
.order{
    color: rebeccapurple;
}
.link-two{
    font-weight: 900;
    color: blue;
    text-align: left;
}
 